/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
  width: 300px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-inline: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  overflow: hidden;
}

.header__nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 23px 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header__nav {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav {
    margin-top: 29px;
    margin-bottom: 34px;
  }
}

.header__burger-menu {
  width: 44px;
  height: 37px;
  background-color: black;
  display: inline-block;
  margin-left: 250px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header__burger-menu {
    display: none;
  }
}

.header__burger-menu::before, .header__burger-menu::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 17px;
  height: 2px;
  left: 13px;
}

.header__burger-menu::before {
  top: 13px;
}

.header__burger-menu::after {
  bottom: 13px;
}

.header__burger-menu span {
  position: absolute;
  background-color: #fff;
  width: 17px;
  height: 2px;
  top: 17px;
  left: 13px;
}

.header__burger-menu.active::before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 17px;
}

.header__burger-menu.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 18px;
}

.header__burger-menu.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: -10px;
  background-color: whitesmoke;
  width: 170px;
  opacity: 0;
  text-align: left;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .header__menu-list {
    gap: 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: inherit;
    background-color: rgba(0, 0, 0, 0.0001);
    width: auto;
    opacity: 1;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__menu-list {
    gap: 68px;
  }
}

.header__menu-list.active {
  opacity: 1;
}

.header__menu-list-item {
  padding-left: 12px;
}

.header__menu-list-item:active {
  background-color: #e5e5e5;
}

@media screen and (min-width: 768px) {
  .header__menu-list-item:active {
    background-color: rgba(0, 0, 0, 0.0001);
  }
}

@media screen and (min-width: 768px) {
  .header__menu-list-item {
    padding-left: auto;
  }
}

.header__link {
  color: #4e4e4e;
  text-decoration: none;
  font-weight: normal;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.header__link--home {
  color: #57a4a4;
}

.header__picture {
  min-width: 768px;
}

.posts {
  padding-top: 39px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .posts {
    padding-top: 56px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .posts {
    padding-top: 66px;
    padding-bottom: 69px;
  }
}

.posts__title {
  color: #4e4e4e;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .posts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.posts__item {
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .posts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .posts__item {
    width: 550px;
  }
}

.posts__img {
  min-width: 160px;
  margin-bottom: 11px;
}

@media screen and (min-width: 768px) {
  .posts__img {
    margin-right: 11px;
  }
}

.posts-content {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .posts-content {
    margin-left: 21px;
    width: 404px;
  }
}

.posts-content__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #4e4e4e;
}

@media screen and (min-width: 768px) {
  .posts-content__title {
    font-size: 16px;
  }
}

.posts-content__comments {
  font-weight: normal;
  font-size: 11px;
  line-height: 20px;
  color: #7c7c7c;
}

@media screen and (min-width: 768px) {
  .posts-content__comments {
    font-size: 12px;
  }
}

.posts-content__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #5c5c5c;
  display: none;
}

@media screen and (min-width: 768px) {
  .posts-content__text {
    display: inline-block;
  }
}

.shots {
  background-color: rgba(0, 0, 0, 0.03);
  padding-top: 42px;
  padding-bottom: 38px;
}

.shots__titlewrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shots__title {
  display: none;
}

@media screen and (min-width: 768px) {
  .shots__title {
    display: inline-block;
    color: #4e4e4e;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 35px;
  }
}

.shots__title-mob {
  color: #4e4e4e;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 13px;
}

@media screen and (min-width: 768px) {
  .shots__title-mob {
    display: none;
  }
}

.shots__linkwrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .shots__linkwrapper {
    display: inline-block;
    margin-right: 0;
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  .shots__link {
    text-decoration: none;
    color: #4e4e4e;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    font-size: 13px;
  }
}

.shots__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 9px;
}

@media screen and (min-width: 768px) {
  .shots__wrapper :not(:last-child) {
    display: block;
  }
}

.shots__item {
  display: none;
  min-width: 300px;
}

.shots__item--first {
  display: block;
}

@media screen and (min-width: 768px) {
  .shots__item {
    min-width: 200px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .shots__item {
    min-width: 285px;
    display: block;
  }
}

.footer {
  background-color: black;
  color: #b9b9b9;
  padding: 38px 15px 47px 15px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 57px 0 56px 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 66px 0 70px 0;
  }
}

.footer__title--light {
  color: #4e4e4e;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #fefefe;
  text-align: center;
  margin-bottom: 8px;
}

.footer__text {
  text-align: center;
  margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
  .footer__text {
    width: 684px;
    margin: auto;
    margin-bottom: 37px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 6px;
  margin-bottom: 25px;
}

.footer__address {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */