.container { 
    width: 300px;   
    margin: 0 auto;
    box-sizing: border-box;
    padding-inline: 10px;

    @media screen and  (min-width: 768px) {
        width: 720px;    
    }

    @media screen and (min-width: 1200px) {
       width: 1170px;    
    }
}
