.header {
    overflow: hidden;
    &__nav {
        box-sizing: border-box;
        margin: 23px 0;
        position: relative;
        @media screen and (min-width: 768px) {
            margin-bottom: 28px;
        }
        @media screen and (min-width: 1200px) {
            margin-top: 29px;
            margin-bottom: 34px;
        }
    }
    &__burger-menu {
        width: 44px;
        height: 37px;
        background-color: $dark-bg;
        display: inline-block;
        margin-left: 250px;
        position: relative;
        @media screen and (min-width: 768px){
            display: none;
        } 
    }
    &__burger-menu::before,
    &__burger-menu::after{
        content: "";
        position: absolute;
        background-color: #fff;
        width: 17px;
        height: 2px;
        left: 13px;
    }
    &__burger-menu::before{
        top: 13px;
    }
    &__burger-menu::after{
        bottom: 13px;
    }
    &__burger-menu span{
     position: absolute;
     background-color: #fff;
     width: 17px;
     height: 2px;
     top:17px;
     left:13px;
    }
    &__burger-menu.active::before{
       transform: rotate(-135deg);
       top:17px;      
    }
    &__burger-menu.active::after{
       transform: rotate(-45deg);
       bottom: 18px;
 
 
    }
     &__burger-menu.active span{
         transform: scale(0);
     }
     &__menu-list{
        display:flex;
    justify-content: center;
    text-align: center;

       flex-direction: column;
       position:absolute;
        right: -10px;
        background-color: $drop-bg;
        width:170px;
        opacity: 0;
        text-align:left;
        gap: 8px;
        
 
         @media screen and (min-width:768px){
             gap: 24px;
             flex-direction: row;
             position: inherit;
             background-color: $page-bg;
             width:auto;
             opacity:1;
             text-align: center;
             
         }
         
         @media screen and (min-width:1200px){
             gap:68px;
         }
     }
     &__menu-list.active{
         opacity: 1;
     }
 
     &__menu-list-item{
         padding-left: 12px;
         &:active{
             background-color: $active-bg;
             
             @media screen and (min-width:768px){
             background-color: $page-bg;   
 
             }
         }
         @media screen and (min-width:768px){
             padding-left: auto;
 
         }
     }
 
     &__link{
         color: $primary-color;
         text-decoration: none;
         font-weight: normal;
         font-size: 11px;
         line-height: 22px;
         letter-spacing: 1.1px;
         text-transform: uppercase;
         &--home{
         
             color: $home-color;
             
         }
        
     }
 
     
     &__picture{
         min-width:768px;
         
        
     }
 }
 